# Relatório de análise IV
___

#### Importando bibliotecas

In [33]:
import pandas as pd

#### Importando dados

In [34]:
data = pd.read_csv('../data/aluguel_residencial.csv', sep=';')
data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

#### Seleções e frequências

* Selecione apenas imóveis classificados com o tipo 'Apartamento'

In [35]:
selecao = data['Tipo'] == 'Apartamento'
n1 = data[selecao].shape[0]
print(f'A frequência de apartamentos é: {n1}.')

A frequência de apartamentos é: 19532.

* Selecione os imóveis classificados com o tipos 'Casa', 'Condomínio' e 'Casa de Vila'

In [36]:
selecao2 = (data['Tipo'] == 'Casa') |  (data['Tipo'] == 'Casa de Condomínio') | (data['Tipo'] == 'Casa de Vila')
n2 = data[selecao2].shape[0]
print(f'A frequência de casas, casas de condomíneos e casas de vila é: {n2}.')

A frequência de casas, casas de condomíneos e casas de vila é: 2212.

* Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [37]:
selecao3 = (data['Area'] >= 60) & (data['Area'] <= 100)
n3 = data[selecao3].shape[0]
print(f'Os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites são: {n3}.')

Os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites são: 8736.

* Selecione os imóveis que tenham pelo menos 4 quartos e aluquel menor que R$2.000,00

In [38]:
selecao4 = (data['Quartos'] >= 4) & (data['Valor'] < 2000)
n4 = data[selecao4].shape[0]
print(f'O número de imóveis que tenham pelo menos 4 quartos e aluquel menor que R$2.000,00 é: {n4}')

O número de imóveis que tenham pelo menos 4 quartos e aluquel menor que R$2.000,00 é: 41