# Relatório de análise V
___

#### Importando bibliotecas

In [110]:
import pandas as pd

#### Importando dados

In [111]:
data = pd.read_csv('../data/aluguel_residencial.csv', sep=';')
data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [112]:
data.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22840  False   False    False  False   False  False  False       False  False
22841  False   False    False  False   False  False  False       False  False
22842  False   False    False  False   False  False  False       False  False
22843  False   False    False  False   False  False  False       False  False
22844  False   False    False  False   False  False  False       False   True

[22845 rows x 9 columns]

In [113]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22845 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22845 non-null  object
 1   Bairro      22845 non-null  object
 2   Quartos     22845 non-null  int64
 3   Vagas       22845 non-null  int64
 4   Suites      22845 non-null  int64
 5   Area        22845 non-null  int64
 6   Valor       22836 non-null  float64
 7   Condominio  20796 non-null  float64
 8   IPTU        15976 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

#### Tratando valor

In [114]:
data[data['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1515,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1708,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2039,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2061,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4998,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8674,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
9061,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9264,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [115]:
a = data.shape[0]
data.dropna(subset=['Valor'], inplace=True)
b = data.shape[0]
a - b

9

#### Tratando condominios

In [116]:
data[data['Condominio'].isnull()].shape[0]

2047

In [117]:
selecao = (data['Tipo'] == 'Apartamento') & (data['Condominio'].isnull())

In [118]:
a = data.shape[0]
data = data[~selecao]
b = data.shape[0]
a - b

745

In [119]:
data[data['Condominio'].isnull()].shape[0]

1302

In [120]:
data = data.fillna({'Condominio': 0, 'IPTU': 0})

In [121]:
data[data['Condominio'].isnull()].shape[0]

0

In [122]:
data[data['IPTU'].isnull()].shape[0]

0

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22091 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22091 non-null  object
 1   Bairro      22091 non-null  object
 2   Quartos     22091 non-null  int64
 3   Vagas       22091 non-null  int64
 4   Suites      22091 non-null  int64
 5   Area        22091 non-null  int64
 6   Valor       22091 non-null  float64
 7   Condominio  22091 non-null  float64
 8   IPTU        22091 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [124]:
data.to_csv('../data/aluguel_residencial.csv', sep=';', index=False)