In [25]:
import pandas as pd

#### Series

In [26]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Criando label para as linhas

#### 1 Forma

In [27]:
index = ['Linha '+ str(i) for i in range(len(data))]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [28]:
s = pd.Series(data, index)
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

#### 2 Forma

In [29]:
index = {'Linha '+ str(i) : i + 1 for i in range(len(data))}
index

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [30]:
data = pd.Series(index)
data

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

#### Somando valores em cada linha do dataframe

In [31]:
data1 = data + 2
data1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

#### Somando duas Series que tenham os mesmos index

In [32]:
data2 = data + data1
data2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

### DataFrame

In [33]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

In [34]:
index = ['Row '+ str(i) for i in range(len(data))]
columns = ['Columns '+ str(i) for i in range(len(data))]

In [35]:
df1 = pd.DataFrame(data, index, columns)
df1

       Columns 0  Columns 1  Columns 2
Row 0          1          2          3
Row 1          4          5          6
Row 2          7          8          9

In [36]:
df2 = pd.DataFrame(data, index, columns)
df2[df1 > 0] = 'A'
df2

      Columns 0 Columns 1 Columns 2
Row 0         A         A         A
Row 1         A         A         A
Row 2         A         A         A

In [37]:
df3 = pd.DataFrame(data, index, columns)
df3[df1 > 0] = 'B'
df3

      Columns 0 Columns 1 Columns 2
Row 0         B         B         B
Row 1         B         B         B
Row 2         B         B         B

In [38]:
df4 = pd.concat([df2, df3])
df4

      Columns 0 Columns 1 Columns 2
Row 0         A         A         A
Row 1         A         A         A
Row 2         A         A         A
Row 0         B         B         B
Row 1         B         B         B
Row 2         B         B         B

In [39]:
df5 = pd.concat([df2, df3], axis=1)
df5

      Columns 0 Columns 1 Columns 2 Columns 0 Columns 1 Columns 2
Row 0         A         A         A         B         B         B
Row 1         A         A         A         B         B         B
Row 2         A         A         A         B         B         B